{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}
<h3>Nova Categoria</h3>
<div class="card">
    <div class="card-body">
    <form action="/admin/categorias/nova" method="post">
    <label for="nome">Nome: </label>
        <input type="text" id="nome" name="nome" placeholder="Nome da categoria" class="form-control" minlength="2" maxlength="20" required>
    <label for="slug">Slug: </label>
        <input type="text" id="slug" name="slug" placeholder="Slug da categoria - Não são permitidas letras maiúsculas, números, espaços ou palavras com caracteres especiais, acentos ou ç" class="form-control" pattern="[a-z\s]+$" minlength="2" maxlength="50" required>
        <br>
    <button type="submit" class="btn btn-sucess">Criar Categoria</button>
    </form>
    </div>
</div>