<h3>Editar Categoria</h3>
<div class="card">
    <div class="card-body">
    <form action="/admin/categorias/edit" method="post">
    <input type="hidden"  value={{categorias._id}} name="id">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" placeholder="Nome da Categoria" class="form-control" value="{{categorias.nome}}" minlength="2" maxlength="50" required>
        <label for="slug">Slug:</label>
        <input type="text" id="slug" name="slug" placeholder="Slug da Categoria - Não são permitidas letras maiúsculas, números, espaços ou palavras com caracteres especiais, acentos ou ç" class="form-control" pattern="[a-z\s]+$" value="{{categorias.slug}}" minlength="2" maxlength="250" required>
        <br>
        <button type="submit" class="btn btn-success">Editar Categoria</button>
    </form>
    </div>
</div>